<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <h2>Please log in</h2>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        Username: <input type="text" name="username"><br><br>
        Password: <input type="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    
    {% if leaderboard %}
    <div class="leaderboard">
        <h3>Top 5 Players</h3>
        <table>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Score</th>
                <th>Difficulty</th>
                <th>Date</th>
            </tr>
            {% for i in range(leaderboard|length) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ leaderboard[i].username }}</td>
                <td>{{ leaderboard[i].score }} ({{ leaderboard[i].percentage }}%)</td>
                <td>{{ leaderboard[i].difficulty }}</td>
                <td>{{ leaderboard[i].date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
</html>
